[Unit]
Description=fle.ms URL Shortener
Documentation=https://github.com/cflems/fle.ms
After=network.target

[Service]
Type=exec
User=www-data
Group=www-data
RuntimeDirectory=flems
RuntimeDirectoryMode=0755
StandardOutput=append:/var/log/flems.log
StandardError=append:/var/log/flems.err
ExecStart=/usr/bin/node /var/www/fle.ms/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
