body,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
body {
    margin: 0rem 8rem;
    min-height: 100vh;
    width: calc(100vw - 16rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--cflems-ff-text-primary);
    color: #000000;
    background-image:
        linear-gradient(to bottom, #fffffff0 10%, #ffffff90 50%, #ffffff50),
        url('https://cdn.cflems.net/fle.ms/lake.webp');
}
#header {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    user-select: none;
}
#header #logo {
    padding: 0.25em 0em 0em 1.75em;
    background-image: url('https://cdn.cflems.net/fle.ms/logo.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    flex-grow: 1;
    font-family: var(--cflems-ff-text-primary);
    font-size: 3rem;
}
#content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}
#content a {
    text-decoration: none;
    color: #6a8fd4;
}
#content a:hover {
    color: #5f80be;
}
#content a:active {
    color: #5472a9;
}
#content #lhs {
    padding: 0rem 1rem;
    flex-grow: 2;
    background-color: #fcfcfc;
    margin-right: 2rem;
    color: #000000;
    box-shadow: 0px 0px 0.5rem #000000b0;
    border-radius: 0.25rem;
    font-size: 16pt;
    font-family: var(--cflems-ff-text-secondary);
    font-weight: 400;
    line-height: 1.5;
    background-color: #fdfbf9;
    color: #28282b;
    box-shadow: 0px 0px 0.5rem #d4d4d7b0;
}
#content #rhs {
    flex-grow: 3;
    font-family: var(--cflems-ff-text-primary);
    font-size: 14pt;
}
.form-element {
    margin: 1rem 0;
}
.form-element p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0.25rem 0;
}
#base-url {
    font-family: var(--cflems-ff-text-mono);
    font-weight: 200;
    font-size: 14pt;
    margin: 0 0.25rem 0 0;
}
#slug {
    width: 4.5rem;
}
#shortenButton {
    background-color: #6a8fd4;
    color: #fdfbf9;
    border: none;
    box-shadow: none;
}
#shortenButton:hover {
    background-color: #6487c9;
}
#shortenButton:active {
    background-color: #5f80be;
}
.form-element p .fullsize {
    flex-grow: 1;
}
.form-element input, .form-element button {
    font-size: 14pt;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
}
.form-element input[type=text] {
    font-family: var(--cflems-ff-text-mono);
    font-weight: 200;
    padding: 0.33rem;
}
.form-element input[type=text], body.light .form-element button {
    border-color: #28282b;
}
.form-element button {
    font-family: var(--cflems-ff-text-primary);
    font-weight: 400;
    padding: 0.75rem;
    cursor: pointer;
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fdfbf9;
        background-image:
            linear-gradient(to top, #000000f0 20%, #00000090 50%, #00000050),
            url('https://cdn.cflems.net/fle.ms/earth.webp');
    }
    #content a {
        color: #68369b;
    }    
    #content a:hover {
        color: #723aaa;
    }
    #content a:active {
        text-decoration: none;
        color: #7d3fbb;
    }
    #content #lhs {
        background-color: #28282b;
        color: #fdfbf9;
        box-shadow: #000000b0;
    }
    #shortenButton {
        background-color: #7550a6;
        color: #fdfbf9;
        border: none;
        box-shadow: none;
    }
    #shortenButton:hover {
        background-color: #6f4c9d;
    }
    #shortenButton:active {
        background-color: #68369b;
    }
    .form-element input[type=text], .form-element button {
        border-color: none;
        /*box-shadow: 0rem 0rem 0.5rem #fdfbf9b0;*/
    }
}
